<!DOCTYPE html>
<html>
  <head>
    <title>TaskManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <%= notice %>
    </p>
    <%= yield %>
    <%= link_to "中文版", url_for(locale: "zh-TW") %>
    <%= link_to "English", url_for(locale: "en") %>
  </body>
</html>
